
.home {
    background-color: #f8f8f8;
    padding: 50px;
   justify-content: center;
  
    text-align: center;
  }
  
  .home h1 {
    color: #333;
    margin-bottom: 20px;
  }
  
  .home p {
    color: #666;
    font-size: 18px;
    line-height: 1.6;
  }
  
  .home button {
    background-color: #4CAF50;
    color: #fff;
    padding-top: 10px !important;
    padding: 27px 27px;
      border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
  }
  
  .home button:hover {
    background-color: #45a049;
  }
  
  .home-image {
    width: 900px;
    height: 500px;
    max-height: 700px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  /* Promo section styles */
  .promo {
    display: flex;
    justify-content: space-between;
    padding: 50px;
    background-color: #e0e0e0;
  }
  
  .promo-content {
    flex: 2;
    padding-right: 20px;
  }
  
  .promo-image {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .promo-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
  .promo h2 {
    margin-bottom: 20px;
  }
  
  .promo p {
    margin-bottom: 15px;
  }
  
  .promo button {
    background-color: #4CAF50;
    color: #fff;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
  }
  
  .promo button:hover {
    background-color: #45a049;
  }
  
  
  
  
  
  .header2 {
    position: relative; /* Allow absolute positioning of children */
    height: 750px; /* Set a height for the header */
    overflow: hidden; /* Hide anything that overflows */
  }
  
  .header-background2 {
    position: absolute; /* Position it behind the content */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1; /* Send it to the back */
  }
  
  .header-background2 img {
    width: 100%; /* Make the image fill the width */
    height: 100%; /* Make the image fill the height */
    object-fit: cover; /* Cover the entire area */
  }
  
  .header-content {
    position: absolute; /* Keep content on top of the background */
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Adjust for exact centering */
    z-index: 1; /* Bring content above the background */
    text-align: center; /* Center the text */
    color: white; /* Text color for visibility */
  }
  
  
  .trip-planner-text h1 {
    font-size: 5rem; /* Font size for the main heading */
    margin: 0; /* Remove default margin */
  }
  
  .trip-planner-text h1 span {
    color: #FFD700; 
    font-weight: bold; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  
  .trip-planner-text p {
    font-size: 2rem; 
  }
  .logo {
    display: flex;
   
  }
  
  .logo img {
    height: 30px; 
    margin-right: 700px; 
  }
  
  
  